# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Build
android/
ios/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.log

# Git
.git/
.gitignore

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
*.apk
*.aab
*.ipa
*.tar.gz

# Cache
.cache/
*.tsbuildinfo